body{
    background-color: #9c7171;
  
    
    
}

.container{
    padding: 10px;
    margin: 25px;
    background-color:  #eec5c5;
    font-size: larger;
    height: 100%;
}

.title{
    color: #9c0303;
    text-align: center;
    padding-bottom: 25px;
}
label{
    display:block;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #9c0303
}
input{
    margin-bottom: 10px;
    margin-left: 20px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box{
    height: 100px;
    width: 100%;
    background-color: #000000;
    margin-bottom: 10px;
}
p{
    font-size: 30px;
    color: #9c0303;
    margin-left: 20px;
}
