body{
    background-color: #9c7171;
  
    
    
}

.container{
    padding: 10px;
    margin: 25px;
    background-color:  #eec5c5;
    font-size: larger;
    height: 100%;
}

.title{
    color: #9c0303;
    text-align: center;
    padding-bottom: 25px;
}
label{
    display:block;
    font-size: 30px;
    
    margin-bottom: 5px;
    color: #9c0303
}
input{
    margin-bottom: 10px;
    
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box{
    height: 100px;
    width: 95%;
    background-color: #ffffff;
    margin-bottom: 10px;
    
}
p{
    font-size: 30px;
    color: #9c0303;
   
}

.toggle{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text{
    display: flex;
    justify-content: center;
}

.toggle-btn{
    height: 30px;
    width: 60px;
    background-color: #9c7171;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 20px;
}

.inner-circle{
    height: 30px;
    width: 30px;
    background-color:#eec5c5 ;
    border-radius: 20px;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
}

.unselected{
    opacity: 0.25;
}